<%= form_for [:admin, @page], html: { onsubmit: "attachContent()" } do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title_az %><br>
    <%= f.text_field :title_az %>
  </div>
  <div class="field">
    <%= f.label :title_en %><br>
    <%= f.text_field :title_en %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.hidden_field :image_cache %>    
    <%= f.file_field :image %>
    <%= cl_image_tag(@page.image, :width => 50, :height => 50, :crop => :fill) if @page.image? %>
  </div>
  <div class="field">
    <%= f.label :show_in_navbar %><br>
    <%= f.check_box :show_in_navbar %>
  </div>  
  <div class="field">
    <%= f.label :body_az %><br>
    <%= f.text_area :body_az %>
  </div>
  <div class="field">
    <%= f.label :body_en %><br>
    <%= f.text_area :body_en %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  attachContent = function() {
    document.getElementById("page_body_az").value = document.querySelector(".note-editable")[0].innerHTML;
    document.getElementById("page_body_en").value = document.querySelector(".note-editable")[1].innerHTML;
  }  
</script>
<script type="text/javascript">
window.onload = function() {
  if (window.location.pathname.includes("/edit")) {
    var body_az = document.getElementById("page_body_az").value;
    var body_en = document.getElementById("page_body_en").value;

    document.querySelector(".note-editable")[0].innerHTML = body_az;
    document.querySelector(".note-editable")[1].innerHTML = body_en;  
  }    
}
</script>
