<div class="well">
<%= form_for [:admin, @article], html: { onsubmit: "attachContent()" } do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.hidden_field :image_cache %>    
    <%= f.file_field :image %>
    <%= cl_image_tag(@article.image_url, :width => 50, :height => 50, :crop => :fill) if @article.image? %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br>
    <% if @article.new_record? %>
      <%= f.select :author_id, @authors, selected: current_user.id, :prompt => "Birini seç" %>      
    <% else %>
      <%= f.select :author_id, @authors, :prompt => "Birini seç" %>  
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, @categories, :prompt => "Birini seç" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
<script type="text/javascript">
  attachContent = function() {
    document.querySelector("textarea").value =document.querySelector(".note-editable").innerHTML
  }  
</script>
<script type="text/javascript">
window.onload = function() {
  if (window.location.pathname.includes("/edit")) {
    var tv = document.querySelector("textarea").value;
    document.querySelector(".note-editable").innerHTML = tv ;  
  }    
}
</script>
