<style type="text/css">
  h1.featured-header {
    font-size: 15px;
  }
</style>

<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        
      </h1>
    </div>
    <% @featured.each do  |article| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>
              <i class="fa fa-clock-o"></i>&nbsp;<small><%= time_ago_in_words(article.created_at) %></small>
              <i class="fa fa-list"></i>&nbsp;<small><%= link_to article.category.name, category_path(slug: article.category.slug) %></small>
            </h4>
          </div>
          <div class="panel-body">
            <h1 class='featured-header'><%= article.title %></h1>
            <p><%= "#{strip_tags(article.body.html_safe).slice(0, 200)} ..." %></p>
            <%= link_to "Ardını oxu", article_path(slug: article.slug), class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr>
</div>
