
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <%= link_to "HRA", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sənədlər", documents_path %></li>
          <% @pages.each do |page| %>
            <li><%= link_to page.title, page_path(slug: page.slug) %></li>  
          <% end %>
          <% @categories.each do |category| %>
            <li><%= link_to category.name, category_path(slug: category.slug) %></li>  
          <% end %>
          <li><%= link_to 'Sual-Cavab', questions_path %></li>              
          <li>
              <%= link_to "Əlaqə", contacts_path %>
          </li>
      </ul>
    </div>
  </div>
</nav> 
