<div class="container" style="margin-top: -45px; height:95px;">
  <div class="row">
    <div class="col-md-2">
      <%= link_to root_path do %>
        <%= image_tag('/images/logo_hra.png', height: 70, width:148, class: "pull-left") %>
      <% end %>
    </div>
    <div class="col-md-10">
      <p style="margin-top:10px;margin-left: -25px;font-family:'Crimson Text';font-size: 30px;">Baku Academy of Human Rights Law</p>
    </div>
  </div>
</div>
</div>
<nav class="navbar navbar-default" data-spy="affix" style="z-index: 9999;" data-offset-top="140" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Ana Səhifə", root_path %></li>
          <% @pages.each do |page| %>
            <li><%= link_to page.title, page_path(slug: page.slug) %></li>  
          <% end %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Proqramlar
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% @programmes.each do |program| %>
                <li><%= link_to program.title, article_path(slug: program.slug) %>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "Sənədlər", documents_path %></li>
          <% @categories.each do |category| %>
            <li><%= link_to category.name, category_path(slug: category.slug) %></li>  
          <% end %>
          <li><%= link_to 'Sual-Cavab', questions_path %></li>
          <li><%= link_to "Əlaqə", contacts_path %></li>
      </ul>
    </div>
  </div>
</nav> 
