<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Phone</th>
      <th>Email</th>
      <th>Twitter</th>
      <th>Facebook</th>
      <th>Address</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.phone %></td>
        <td><%= contact.email %></td>
        <td><%= contact.twitter %></td>
        <td><%= contact.facebook %></td>
        <td><%= contact.address %></td>
        <td><%= link_to 'Düzəlt', edit_admin_contact_path(contact), class: "btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

