<%= form_for [:admin, @category] do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_az %><br>
    <%= f.text_field :name_az %>
  </div>
  <div class="field">
    <%= f.label :name_en %><br>
    <%= f.text_field :name_en %>
  </div>
  <div class="field">
    <%= f.label :show_in_navbar %><br>
    <%= f.check_box :show_in_navbar %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
