<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<%= link_to 'New Category', new_admin_category_path, class: "btn btn-success" %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
        <td><%= link_to 'Destroy', remove_admin_category_path(category), method: :put, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
