<div class="well">
  <%= form_for [:admin, @publication], html: { onsubmit: "attachContent()" } do |f| %>
    <% if @publication.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

        <ul>
        <% @publication.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title_az %><br>
      <%= f.text_field :title_az %>
    </div>
    <div class="field">
      <%= f.label :title_en %><br>
      <%= f.text_field :title_en %>
    </div>
    <div class="field">
      <%= f.label :attachment %><br>
      <%= f.file_field :attachment %>
    </div>
    <div class="field">
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :isbn %><br>
      <%= f.text_field :isbn %>
    </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :summary_az %><br>
      <%= f.text_area :summary_az %>
    </div>
    <div class="field">
      <%= f.label :summary_en %><br>
      <%= f.text_area :summary_en %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  attachContent = function() {
    document.getElementById("publication_summary_az").value = document.querySelector(".note-editable")[0].innerHTML;
    document.getElementById("publication_summary_en").value = document.querySelector(".note-editable")[1].innerHTML;
  }  
</script>
<script type="text/javascript">
window.onload = function() {
  if (window.location.pathname.includes("/edit")) {
    var body_az = document.getElementById("publication_summary_az").value;
    var body_en = document.getElementById("publication_summary_en").value;

    document.querySelector(".note-editable")[0].innerHTML = body_az;
    document.querySelector(".note-editable")[1].innerHTML = body_en;  
  }    
}
</script>
