<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= @category.name %>
      </h1>
      <ol class="breadcrumb">
        <li><%= link_to "Ana Səhifə", root_path  %></li>
        <li class="active"><%= @category.name %></li>
      </ol>
    </div>
  </div>

  <% @articles.each do |article| %>
    <div class="row">
      <div class="col-md-1 text-center">
        <p><%= l article.created_at, format: '%d %B, %Y' %></p>
      </div>
      <div class="col-md-5">
        <%= link_to article_path(slug: article.slug) do %>
          <%= cl_image_tag(article.image, width:600, height: 300, crop: :fill, class: "img-responsive img-hover", alt: article.title) %>
        <% end %>
      </div>
      <div class="col-md-6">
        <h3>
            <%= link_to article.title, article_path(slug: article.slug) %>
        </h3>
        <p>Müəllif: <strong><%= link_to article.author.name, "#" %></strong>
        </p>
        <p><%= strip_tags(article.body.slice(0, 200).html_safe) %></p>
        <%= link_to "Ardını Oxu", article_path(slug: article.slug), class: "btn btn-primary" %>
      </div>
    </div>
    <hr style="height: 5px;">
  <% end %>
</div>