<!DOCTYPE html>
<html>
<head>
  <title>Hra</title>

  <%= javascript_include_tag 'admin' %>
  <script type="text/javascript">
      $(document).ready(function() {
        $("textarea").summernote();
    });
  </script>
  <%= stylesheet_link_tag    'admin', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <nav class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Səhifələr", admin_pages_path %></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Yazılar
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% Category.living.each do |category| %>
                <li><%= link_to category.name, admin_articles_path(category: category.id) %>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "Bölmələr", admin_categories_path %></li>
          <li><%= link_to "Sənədlər", admin_documents_path %></li>
          <li><%= link_to "Əlaqə", admin_contacts_path %></li>
          <li><%= link_to "Nəşrlər", admin_publications_path %></li>
          <li><%= link_to "Sual-Cavab", admin_questions_path %></li>
          <li><%= link_to "Çıxış", logout_path, method: :delete %></li>
          <li>
            <%= link_to edit_admin_author_path(current_user) do %>
              <%= cl_image_tag(current_user.image, width: 30, height: 30, crop: :fill) %>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
